body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0d1117;
    font-family: sans-serif;
    color: #fff;
    flex-direction: column;
}
h2 {
    margin: 0 0 6px;
    font-weight: 600;
}
p {
    margin: 0 0 18px;
    color: #9da5b4;
    font-size: 14px;
}
.otp {
    display: flex;
    gap: 12px
}
.otp input {
    width: 55px;
    height: 55px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #2b313b;
    background: #161b22;
    color: #fff;
    outline: none;
    transition: .2s;
}
.otp input:focus {
    border-color: #00eaff;
    box-shadow: 0 0 12px #00eaff40;
}