body {
    margin: 0;
    background: #0d1117;
    height: 100vh;
    font-family: Poppins, sans-serif;
}

/* Floating Button */
.chat-btn {
    position: fixed;
    bottom: 85px;
    right: 25px;
    background: #2563eb;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Chat Box */
.chat-box {
    position: fixed;
    bottom: 145px;
    right: 25px;
    width: 320px;
    height: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background: #2563eb;
    color: white;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
}

.chat-body {
    flex: 1;
    padding: 12px;
    background: #f5f5f5;
    overflow-y: auto;
}

.msg {
    background: #2563eb;
    color: white;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 10px;
    width: fit-content;
    max-width: 80%;
}

.input-area {
    display: flex;
    border-top: 1px solid #ddd;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.input-area button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
}