body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 15px;
    background: #06b6d4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}